.requestButton {
  padding: 0.375rem 0.75rem;
  outline: none;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  width: 6.75rem;
  height: 2rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  margin-right: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}
