.chatButton {
  padding: 0.375rem 0.75rem;
  border: 1px solid #2196f3;
  border-radius: 4px;
  width: 4.75rem;
  height: 2rem;
  color: #2196f3;
  font-weight: 500;
  font-size: 0.875rem;
  &:hover {
    cursor: pointer;
  }
}
